{% extends 'main.html' %}
{% load staticfiles %}

{% block fullbody %}
    <body class="login">
    <div id="content">
        <div class="container-fluid">
            <div class="lock-container">
                <div class="panel panel-default text-center paper-shadow" data-z="0.5">
                    <h1 class="text-display-1 text-center margin-bottom-none">Sign In</h1>
                    <form method="post">
                    {% csrf_token %}
                    <img src="{% static 'learn/images/people/110/guy-5.jpg' %}" class="img-circle width-80">
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form.username.errors }}
                            <div class="form-control-material">
                                <input class="form-control" id="{{ form.username.auto_id }}" type="text" placeholder="Username" name="{{ form.username.html_name }}">
                                <label for="{{ form.username.id_for_label }}">Username</label>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.password.errors }}
                            <div class="form-control-material">
                                <input class="form-control" id="{{ form.password.auto_id }}" name="{{ form.password.html_name }}" type="password" placeholder="Enter Password">
                                <label for="{{ form.password.id_for_label }}">Password</label>
                            </div>
                        </div>
                        {{ form.non_field_errors }}
                        <button type="submit" value="OK" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></button>
{#                        <a href="website-student-dashboard.html" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></a>#}
                        <a href="#" class="forgot-password">Forgot password?</a>
                        <a href="sign-up.html" class="link-text-color">Create account</a>
                    </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script>
        var colors = {
            "danger-color": "#e74c3c",
            "success-color": "#81b53e",
            "warning-color": "#f0ad4e",
            "inverse-color": "#2c3e50",
            "info-color": "#2d7cb5",
            "default-color": "#6e7882",
            "default-light-color": "#cfd9db",
            "purple-color": "#9D8AC7",
            "mustard-color": "#d4d171",
            "lightred-color": "#e15258",
            "body-bg": "#f6f6f6"
        };
        var config = {
            theme: "html",
            skins: {
                "default": {
                    "primary-color": "#42a5f5"
                }
            }
        };
    </script>

    <script src="{% static 'learn/js/vendor/all.js' %}"></script>
    <script src="{% static 'learn/js/app/app.js' %}"></script>
    </body>
{% endblock %}

{#<form method="post">#}
{##}
{#    {{ form }}#}
{#    <input type="submit" value="OK">#}
{#</form>#}
