{% extends 'learn/teacher/teacher_main.html' %}
{% load staticfiles %}

{% block leftpagecontent %}
    <div class="tab-content paper-shadow relative" data-z="0.5">
        <div id="course" class="tab-pane active">
            <h4>Назовите свой курс и придумайте описание</h4>
            <br><br>
            <form action="">
                <div class="form-group form-control-material">
                    <input type="text" name="title" id="title" placeholder="Название курса" class="form-control used" value="Мой курс" />
                    <label for="title">Название</label>
                </div>
                <label for="description">Описание</label>
                        <textarea name="description" id="description" cols="30" rows="10" class="summernote">
                            Здесь стоит написать о главной идеи курса и описать преимушества.
                        </textarea>
            </form>
            <br>
            <div class="text-right">
                <a href="#" class="btn btn-primary">Создать!</a>
            </div>
        </div>
    </div>
{% endblock %}

