{% extends 'learn/teacher/teacher_main.html' %}
{% load staticfiles %}

{% block leftpagecontent %}
    <h3 style="color: #42a5f5;">Редактировать курс</h3><br>
    <div class="tabbable tabs-blocks">

        <!-- Tabs -->
        <ul class="nav nav-tabs" tabindex="4" style="overflow: hidden; outline: none;">
            <li class="active"><a href="#blocks-info" data-toggle="tab" aria-expanded="true"><i class="fa fa-home"></i> Инфо</a></li>
            <li class=""><a href="#blocks-lessons" data-toggle="tab" aria-expanded="false"><i class="fa fa-graduation-cap "></i> Уроки</a></li>

        </ul>
        <!-- // END Tabs -->

        <!-- Panes -->
        <div class="tab-content">
            <div id="blocks-info" class="tab-pane active">
                <div class="form-group form-control-material">
                    <input type="text" name="title" id="title" placeholder="Название курса" class="form-control used" value="Мой курс" />
                    <label for="title">Название</label>
                </div>
                <label for="description">Описание</label>
                        <textarea name="description" id="description" cols="30" rows="10" class="summernote">
                            Здесь стоит написать о главной идеи курса и описать преимушества.
                        </textarea>
            </div>
            <div id="blocks-lessons" class="tab-pane">
                <div id="lessons" class="tab-pane active">
                    <div class="media v-middle s-container">
                        <div class="media-body">
                            <h5 class="text-subhead text-light">3 урока</h5>
                        </div>
                        <div class="media-right">
                            <a class="btn btn-primary paper-shadow relative" href="{% url 'teacher-lesson-create' course_id=course.id %}">Добавить урок</a>
                        </div>
                    </div>
                    <div class="nestable" id="nestable-handles-primary">
                        <ul class="nestable-list">
                            {% for lesson in lessons %}
                            <li class="nestable-item nestable-item-handle" data-id="1">
                                <div class="nestable-handle"><i class="md md-menu"></i></div>
                                <div class="nestable-content">
                                    <div class="media v-middle">
                                        <div class="media-left">
                                            <div class="icon-block half bg-red-400 text-white">
                                                <i class="fa fa-github"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="text-title media-heading margin-none">
                                                <a href="" class="link-text-color">{{ lesson.title }}</a>
                                            </h4>
                                            <div class="text-caption">updated 1 month ago</div>
                                        </div>
                                        <div class="media-right">
                                            <a href="" class="btn btn-white btn-flat"><i class="fa fa-pencil fa-fw"></i> Редактировать
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <ul class="nestable-list">
                                    {% for child in lesson.childs %}
                                    <li class="nestable-item nestable-item-handle" data-id="1">
                                    <div class="nestable-handle"><i class="md md-menu"></i></div>
                                    <div class="nestable-content">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block half bg-red-400 text-white">
                                                    <i class="fa fa-github"></i>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="text-title media-heading margin-none">
                                                    <a href="" class="link-text-color">{{ child.title }}</a>
                                                </h4>
                                                <div class="text-caption">updated 1 month ago</div>
                                            </div>
                                            <div class="media-right">
                                                <a href="" class="btn btn-white btn-flat"><i class="fa fa-pencil fa-fw"></i> Редактировать</a>
                                            </div>
                                        </div>
                                    </div>
                                    </li>
                                        {% endfor %}
                                </ul>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- // END Panes -->

    </div>
{% endblock %}
