{% extends 'learn/teacher/teacher_main.html' %}
{% load staticfiles %}

{% block leftpagecontent %}
    <div class="row" data-toggle="isotope">
        {% for course in courses %}
            <div class="item col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default paper-shadow" data-z="0.5">

                    <div class="cover overlay cover-image-full hover">
                        <span class="img icon-block height-150 bg-primary"></span>
                        <a href="website-instructor-course-edit-course.html" class="padding-none overlay overlay-full icon-block bg-primary">
                <span class="v-center">
            <i class="fa fa-css3"></i>
        </span>
                        </a>

                        <a href="website-instructor-course-edit-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                <span class="v-center">
            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                </span>
                        </a>

                    </div>

                    <div class="panel-body">
                        <h4 class="text-headline margin-v-0-10"><a href="website-instructor-course-edit-course.html">{{ course.title }}</a></h4>

                    </div>
                    <hr class="margin-none" />
                    <div class="panel-body">

                        <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="{% url 'teacher-course-edit' pk=course.id %}"><i class="fa fa-fw fa-pencil"></i> Редактировать</a>

                    </div>

                </div>
            </div>
        {% endfor %}
        <div class="item col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default paper-shadow" data-z="0.5">

                <div class="cover overlay cover-image-full hover">
                    <span class="img icon-block height-150 bg-grey-200"></span>
                    <a href="{% url 'teacher-course-create' %}" class="padding-none overlay overlay-full icon-block bg-grey-200">
                <span class="v-center">
            <i class="fa fa-plus text-grey-600"></i>
        </span>
                    </a>

                </div>

            </div>
        </div>
    </div>
    <ul class="pagination margin-top-none">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
{% endblock %}


