{% extends 'learn/teacher/teacher_main.html' %}
{% load staticfiles %}

{% block leftpagecontent %}
    <div class="item col-xs-12 col-lg-6">
        <div class="panel panel-default paper-shadow" data-z="0.5">
            <div class="panel-heading">
                <div class="media v-middle">
                    <div class="media-body">
                        <h4 class="text-headline margin-none">Доход</h4>
                        <p class="text-subhead text-light">этот месяц</p>
                    </div>
                    <div class="media-right">
                        <a class="btn btn-white btn-flat" href="website-instructor-earnings.html">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="line-holder" data-toggle="flot-chart-earnings" class="flotchart-holder height-200"></div>
            </div>
            <hr/>
            <div class="panel-body">
                <div class="row text-center">
                    <div class="col-md-6">
                        <h4 class="margin-none">Ученики</h4>
                        <p class="text-display-1 text-warning margin-none">102.4k</p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="margin-none">Доход</h4>
                        <p class="text-display-1 text-success margin-none">55k</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-xs-12 col-lg-6" style="position: absolute; left: 435px; top: 0px;">
        <div class="panel panel-default paper-shadow" data-z="0.5">
            <div class="panel-heading">
                <h4 class="text-headline margin-none">Мои курсы</h4>
                <p class="text-subhead text-light">Последние курсы</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item media v-middle">
                    <div class="media-body">
                        <a href="website-instructor-course-edit-course.html" class="text-subhead list-group-link">Basics of HTML</a>
                    </div>
                    <div class="media-right">
                        редактировать
                    </div>
                </li>

            </ul>
            <div class="panel-footer text-right">
                <a href="website-instructor-courses.html" class="btn btn-white paper-shadow relative" data-z="0" data-hover-z="1" data-animated="">Посмотреть все</a>
                <a href="website-instructor-course-edit-course.html" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1" data-animated="">СОЗДАТЬ НОВЫЙ <i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

