{% extends 'learn/teacher/teacher_main.html' %}
{% load staticfiles %}

{% block leftpagecontent %}
    <h3>Редактировать урок из курса "<a href="{% url 'teacher-course-edit' course_id=lesson.course.id %}">{{ lesson.course.title }}</a>"</h3><br>
    <div class="tabbable tabs-blocks">

        <!-- Tabs -->
        <ul class="nav nav-tabs" tabindex="4" style="overflow: hidden; outline: none;">
            <li class="active"><a href="#blocks-info" data-toggle="tab" aria-expanded="true"><i class="fa fa-home"></i> Инфо</a></li>
            <li class=""><a href="#blocks-lessons" data-toggle="tab" aria-expanded="false"><i class="fa fa-graduation-cap "></i> Задания</a></li>

        </ul>
        <!-- // END Tabs -->

        <!-- Panes -->
        <div class="tab-content">
            <form method="post">
                {% csrf_token %}
            <div id="blocks-info" class="tab-pane active">
                <div class="form-group form-control-material">
                    <label for="{{ form.title.auto_id }}">Название</label>
                    <input type="text" name="{{ form.title.html_name }}" id="{{ form.title.auto_id }}" placeholder="Название курса" class="form-control used" value="{{ lesson.title }}" />
                </div>
                <label for="{{ form.description.auto_id }}">Описание</label>
                <textarea name="{{ form.description.html_name }}" id="{{ form.description.auto_id }}" class="summernote">
                    {{ lesson.description}}
                </textarea>
                <br>
                <label for="{{ form.content.auto_id }}">Урок</label>
                <textarea name="{{ form.content.html_name }}" id="{{ form.content.auto_id }}" cols="30" rows="10" class="summernote">
                    {{ lesson.content }}
                </textarea>
            </div>
            <div id="blocks-lessons" class="tab-pane">
                <div>
                    Домашние задания
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" type="submit">Обновить</button>
            </div>
            </form>
        </div>
        <!-- // END Panes -->

    </div>
{% endblock %}

