{% extends 'learn/teacher/teacher_main.html' %}
{% load staticfiles %}

{% block leftpagecontent %}
    <div class="tab-content paper-shadow relative" data-z="0.5">
        <div id="course" class="tab-pane active">
            <h3 style="color: #42a5f5;">Подберите название и описание урока</h3><br>
            <br><br>
            <form method="post">
                {% csrf_token %}
                <div class="form-group form-control-material">
                    <label for="{{ form.title.auto_id }}">Название</label>
                    <input type="text" name="{{ form.title.html_name }}" id="{{ form.title.auto_id }}" placeholder="Название курса" class="form-control used" value="Мой урок #" />
                </div>
                <label for="{{ form.description.auto_id }}">Описание</label>
                <textarea name="{{ form.description.html_name }}" id="{{ form.description.auto_id }}" class="summernote">
                    Описание урока
                </textarea>
                <br>
                <label for="{{ form.content.auto_id }}">Урок</label>
                <textarea name="{{ form.content.html_name }}" id="{{ form.content.auto_id }}" cols="30" rows="10" class="summernote">
                    Урок
                </textarea>

            <br>
            <div class="text-right">
                <button class="btn btn-primary" type="submit">Создать!</button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}

