{% extends 'main.html' %}
{% load staticfiles %}

{% block body %}

    <div class="parallax overflow-hidden bg-blue-400 page-section third">
        <div class="container parallax-layer" data-opacity="true">
            <div class="media v-middle">
                <div class="media-left text-center">
                    <a href="#">
                        <img src="{% static 'learn/images/people/110/guy-1.jpg' %}" alt="people" class="img-circle width-80" />
                    </a>
                </div>
                <div class="media-body">
                    <h1 class="text-white text-display-1 margin-v-0">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>
                    {#                    <p class="text-subhead"><a class="link-white text-underline" href="website-instructor-public-profile.html">View public profile</a></p>#}
                </div>
                <div class="media-right">
                    <span class="label bg-blue-500">Instructor</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="page-section">
            {% block pagesection %}
                <div class="row">
                    <div class="col-md-9">
                        {% block leftpagecontent %} {% endblock %}
                    </div>
                    <div class="col-md-3">
                        {% block rightpagecontent %}
                        <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                            <div class="panel-heading panel-collapse-trigger">
                                <h4 class="panel-title">Мой аккаунт</h4>
                            </div>
                            <div class="panel-body list-group">
                                <ul class="list-group list-group-menu">
                                    <li class="list-group-item"><a class="link-text-color" href="{% url 'teacher-dashboard' %}">Управление</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="{% url 'teacher-courses' %}">Мои курсы</a></li>
                                </ul>
                            </div>
                        </div>
                        {% endblock %}

                    </div>
                </div>
            {% endblock %}
        </div>

    </div>
{% endblock %}


{% block scripts %}
    <script>
        var colors = {
            "danger-color": "#e74c3c",
            "success-color": "#81b53e",
            "warning-color": "#f0ad4e",
            "inverse-color": "#2c3e50",
            "info-color": "#2d7cb5",
            "default-color": "#6e7882",
            "default-light-color": "#cfd9db",
            "purple-color": "#9D8AC7",
            "mustard-color": "#d4d171",
            "lightred-color": "#e15258",
            "body-bg": "#f6f6f6"
        };
        var config = {
            theme: "html",
            skins: {
                "default": {
                    "primary-color": "#42a5f5"
                }
            }
        };
    </script>

    <script src="{% static 'learn/js/vendor/all.js' %}"></script>
    <script src="{% static 'learn/js/app/app.js' %}"></script>
{% endblock %}

{% block own_scripts %}
    <script>
        $('.nestable').on('change', function() {
            $('.nestable').nestable('serialize');
        });
    </script>

{% endblock %}